.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    padding-top: 5rem;
    gap: 5rem;
}

.mainText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    max-width: 40rem;
}

.mainContent {
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    /* justify-content: space-between; */
    gap: 5rem;

}

.previewContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;

    &>iframe {
        width: 100%;
        height: 35rem;
        object-fit: contain;
        border-radius: 1rem;
        border: black 1px solid;
        box-shadow:
            10px 10px white;
    }
}


/* CSS */
.button85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button85:before {
    content: "";
    background: linear-gradient(45deg,
            white, black, #FBD355, black, white);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}