.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    padding: 0 3rem;
    top:0;
    position: sticky;
    border-bottom: solid 1px grey;
    background-color: #FBD355;
}

.buttonContainer {
    overflow: hidden;
    flex-wrap: nowrap;
    height: 100%;
    display: flex;
    padding: 0.4rem 0;
}

@media (width <= 700px) {
    .buttonContainer {
        display: none;
    }
}